header,
footer,
.sections {
    position:absolute;
    left:50%;
    margin-left:-500px;
    width:1000px;
}
header {
    top:0px;
    height:70px;
}
footer {
    bottom:0px;
    height:50px;
}
.sections {
    top:70px;
    bottom:50px;
}

section {
    top:0;
    position:absolute;
    width:48%;
}
section h1 {
    line-height:1.8em !important;
}
#lists {
    left:0;
}
#details {
    right:0;
}
.ui-accordion .ui-accordion-content {
    padding:0;
}

#pendingcount:before {
    content:'(';
}
#pendingcount:after {
    content:')';
}

ul.orderlist {
    list-style-type:none;
    padding:0;
    margin:0;
}

#pendinglist {
    font-weight:bold;
}

.orderlist li {
    border-bottom: 1px solid;
    font-size:90%;
    padding:0.1em 0.4em;
}
.orderlist li:after {
    clear:both;
    content:'_';
    display:block;
    height:0;
    visibility:hidden;
}
/*
.orderlist li:last-child {
    border-bottom: 1px solid;
}*/

.orderlist .datetime {
    float:left;
}
.orderlist .contacts {
    float:right;
    text-align:right;
}
.orderlist .total {
    margin-right:9em;
    text-align:right;
    font-size:160%;
    line-height:1.6em;
}

#details h1 .buttons {
    font-size:80%;
    float:right;
}
#details h1:after {
    clear:both;
    content:'_';
    display:block;
    height:0;
    visibility:hidden;
}
#details .orderid {
    font-weight:bold;
    padding:0 0.4em;
}
#details .datetime {
    float:right;
    font-weight:bold;
    text-align:right;
    padding:0 0.4em;
}
#details .contacts {
    clear:both;
    padding:0 0.4em;
}
#details .address {
    font-weight:bold;
}
#details .phone {
    float:right;
}

.detailtable {
    width:100%;
    border-collapse:collapse;
    margin:0.5em 0;
}
.detailtable td {
    border-top:1px solid;
    border-bottom:1px solid;
}

.detailtable .quantity {
    vertical-align:top;
    width:1.4em;
    padding-left:0.4em;
}
.detailtable .quantity:after {
    content:'x';
}
.detailtable .product_name {
    text-transform:uppercase;
    float:left;
    clear:left;
}
.detailtable.menu .product_name {
    font-style:italic;
}
.detailtable .product_type {
    float:left;
    margin-left:0.35em;
}
.detailtable .product_type:before {
    content:'(';
}
.detailtable .product_type:after {
    content:')';
}

.detailtable h3.list_title {
    font-size:100%;
    font-weight:normal;
    margin:0;
    clear:left;
    float:left;
}
.detailtable h3.list_title:after {
    content:': ';
}
.detailtable ul.list {
    list-style-type:none;
    float:left;
    margin:0 0 0 0.35em;
    padding:0;
}
.detailtable ul.list li {
    display:inline;
}
.detailtable li:after {
    content:', ';
}
.detailtable li:last-child:after {
    content:'.';
}

.detailtable .price {
    text-align:right;
    vertical-align:top;
    padding-right:0.4em;
}

#details .total h3 {
    font-size:100%;
    margin:0;
    float:left;
    text-transform:uppercase;
}
#details .total {
    font-weight:bold;
    text-align:right;
    padding:0 0.4em;
}


#details .notes h3 {
    font-size:100%;
    font-weight:normal;
    margin:0;
    text-transform:uppercase;
}
#details .notes h3:after {
    content:':';
}
#details .notes {
    text-transform:uppercase;
    margin-top:0.7em;
    padding:0 0.4em;
}

button.windowed {
    position:absolute;
    bottom:0;
    left:50%;
    width:10em;
    margin-left:-5em;
}

.ui-widget-content,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.orderlist li,
.detailtable td {
    border-color:#D8DCDF;
}
