header,
footer,
.sections {
    position:absolute;
    left:50%;
    margin-left:-500px;
    width:1000px;
}
header {
    top:0px;
    height:70px;
}
footer {
    bottom:0px;
    height:50px;
}
.sections {
    top:70px;
    bottom:50px;
}

section {
    top:0;
    position:absolute;
    width:48%;
}
section h1 {
    line-height:1.8em !important;
}
#lists {
    left:0;
}
#details {
    right:0;
}
.ui-accordion .ui-accordion-content {
    padding:0;
}

#pendingcount:before {
    content:'(';
}
#pendingcount:after {
    content:')';
}

ul.orderlist {
    list-style-type:none;
    padding:0;
    margin:0;
}

#pendinglist {
    font-weight:bold;
}

.orderlist li {
    border-bottom: 1px solid;
    font-size:90%;
    padding:0.1em 0.4em;
}
.orderlist li:after {
    clear:both;
    content:'_';
    display:block;
    height:0;
    visibility:hidden;
}
/*
.orderlist li:last-child {
    border-bottom: 1px solid;
}*/

.orderlist .datetime {
    float:left;
}
.orderlist .contacts {
    float:right;
    text-align:right;
}
.orderlist .total {
    margin-right:9em;
    text-align:right;
    font-size:160%;
    line-height:1.6em;
}

.orderlist .phone:before {
    content:'Tel: ';
}
.orderlist .total:after {
    content:' €';
}

#details h1 .buttons {
    font-size:80%;
    float:right;
}
#details h1:after {
    clear:both;
    content:'_';
    display:block;
    height:0;
    visibility:hidden;
}
#details .orderid:before {
    content:'Ordine N. ';
}
#details .orderid {
    font-weight:bold;
    padding:0 0.4em;
}
#details .datetime {
    float:right;
    font-weight:bold;
    text-align:right;
    padding:0 0.4em;
}
#details .contacts {
    clear:both;
    padding:0 0.4em;
}
#details .name:before {
    content:'Citofono: ';
}
#details .address {
    font-weight:bold;
}
#details .phone {
    float:right;
}

.detailtable {
    width:100%;
    border-collapse:collapse;
    margin:0.5em 0;
}
.detailtable td {
    border-top:1px solid;
    border-bottom:1px solid;
}

.detailtable .quantity {
    vertical-align:top;
    width:1.4em;
    padding-left:0.4em;
}
.detailtable .quantity:after {
    content:'x';
}
.detailtable .product_name {
    text-transform:uppercase;
    display:inline;
}
.detailtable.menu .product_name {
    font-style:italic;
}
.detailtable .product_type {
    display:inline;
}
.detailtable .product_type:before {
    content:' (';
}
.detailtable .product_type:after {
    content:')';
}

.detailtable ul.product_add:before {
    content:'con: ';
}
.detailtable ul.product_remove:before {
    content:'senza: ';
}
.detailtable ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.detailtable li {
    display:inline;
}
.detailtable li:after {
    content:', ';
}
.detailtable li:last-child:after {
    content:'.';
}

.detailtable .price {
    text-align:right;
    vertical-align:top;
    padding-right:0.4em;
}

#details .total:before {
    content:'TOTALE';
    float:left;
}
#details .total {
    font-weight:bold;
    text-align:right;
    padding:0 0.4em;
}

#details .notes:before {
    display:block;
    content:'NOTE:';
}
#details .notes {
    text-transform:uppercase;
    margin-top:0.7em;
    padding:0 0.4em;
}

button.windowed {
    position:absolute;
    bottom:0;
    left:50%;
    width:10em;
    margin-left:-5em;
}

.ui-widget-content,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.orderlist li,
.detailtable td {
    border-color:#D8DCDF;
}
